// $EM-BASE: 18px;

// $FOLDERS
$IMAGES_DIR: '../static/images/';

// $MEDIA-QUERIES
$XS: 450px;
$SM: 768px;
$MD: 992px;
$LG: 1200px;
$XLG: 1240px;

// $COLORS
$COLOR_LIGHT: #FFFFFF;
$COLOR_WHITE: #CED2DB;
$COLOR_BLACK: #383F4F;
$COLOR_GREY: #686E7A;
$COLOR_GOLD: #F3A40C;
$COLOR_LIGHT_GREY: #B8BFC9;
$COLOR_GREEN: #5FC19A;

// $FONTS
$FONT_NOVA: 'Nova Mono', monospace;
$FONT_ROZHA: 'Rozha One', serif;
$FONT_ANTON: 'Anton', sans-serif;
