html {
  font-family: $FONT_NOVA;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 10px;
  line-height: 1.4em;
  color: $COLOR_BLACK;
  overflow-x: hidden;
  background: linear-gradient(135deg, $COLOR_WHITE 0%, $COLOR_GREY 100%);
  perspective: 75vw;

  @include breakpoint($XS) { font-size: 12px; }
  @include breakpoint($SM) { font-size: 14px; }
  @include breakpoint($MD) { font-size: 16px; }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
